---
import menuItems from "../data/menuItems.mjs";
import shapesHorizontal from "../images/shapes-horizontal.png";
import shapesHorizontal2x from "../images/shapes-horizontal@2x.png";
import Social from "../components/Social.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
const currentPage = Astro.request.url.pathname;
---

<div id="contact" class="bg-white-darker md:-mt-20 pl-4 md:pl-12">
  <img
    src={shapesHorizontal}
    srcset={shapesHorizontal2x}
    alt=""
    class="w-[17.8rem]"
  />
  <!-- class="col-span-12 md:col-span-5" -->
</div>
<footer class="bg-blue pt-40 -mt-[4.75rem]">
  <div class="container px-8 grid grid-cols-12 mx-auto text-white">
    <ul class="col-span-6 space-y-8 hidden md:block md:col-span-2">
      {menuItems.map(({ href, name }) => (
        <li class="leading-tight">
          <a
            class={`text-lg hover:opacity-50 ${
              currentPage === href ? "underline" : ""
            }`}
            href={`${href}`}
          >
            {name}
          </a>
        </li>
      ))}
    </ul>

    <div class="hidden md:grid col-span-1"></div>

    <div class="grid col-span-6 md:grid-cols-2 md:col-span-4">
      <div class="md:col-span-1">
        <h3 class="text-2xl">Contact</h3>
        <address class="mt-4 not-italic">
          141 West 14th Street<br />
          North Vancouver, BC<br />
          Canada
        </address>
      </div>

      <div class="md:col-span-1 pt-8 md:pt-12">
        <div>
          T. <a href="tel:604-555-3449">604-555-3449</a>
        </div>
        <div>
          M. <a href="mailto:info@daosys.com">info@daosys.com</a>
        </div>
        <Social wrapperCss="flex space-x-4 mt-5" />
      </div>
    </div>

    <div class="hidden md:grid col-span-1"></div>

    <NewsletterSignup wrapperCss="col-span-12 md:col-span-4 mt-20 md:mt-0" />
  </div>
  <div
    class="container mx-auto grid grid-cols-2 text-white text-sm mt-36 pb-8"
  >
    <div>&copy; 2022, daosys</div>
    <div class="grid justify-end">
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>
