---
import Social from "../components/Social.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
import logo from "../images/logo.svg";
import menuItems from "../data/menuItems.mjs";

const currentPage = Astro.request.url.pathname;
---

<aside
  class="fixed z-10 md:grid md:grid-cols-2 w-full text-white"
  data-previousColor="text-white"
  id="menu"
>
  <a href="#home" class="flex">
    <img src={logo} class="m-8 mx-4 md:m-12" />
  </a>

  <input type="checkbox" id="menuCheckbox" class="hidden" />
  <label
    for="menuCheckbox"
    class="sm:hidden relative right-0 top-4 py-4 px-2.5 w-12 h-12 z-20"
  >
    <div></div>
    <div></div>
    <div></div>
  </label>
  <nav
    class="absolute top-0 right-0 w-screen h-screen duration-300 flex md:mt-10 md:h-auto md:static md:w-auto md:block"
    id="menuContainer"
  >
    <button type="button" id="closer" class="flex w-1/6 md:hidden">
      <!-- closer -->
    </button>
    <div
      class="flex flex-col w-5/6 h-full bg-blue md:w-auto md:bg-transparent md:flex-row md:justify-end"
    >
      <ul
        class="flex flex-col space-y-16 p-8 justify-end md:items-center md:p-0 md:flex-row md:space-y-0 md:space-x-12 md:mr-12"
      >
        {menuItems.map(({ href, name }) => (
          <li class="leading-none">
            <a
              class={`hover:opacity-50 ${
                currentPage === href ? "underline" : ""
              }`}
              href={`${href}`}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
      <Social wrapperCss="flex space-x-4 ml-8 mt-12 md:hidden" />

      <NewsletterSignup
        wrapperCss="col-span-12 mt-20 mx-8 md:hidden md:col-span-4 md:mt-0"
      />
    </div>
  </nav>
</aside>

<script hoist type="module">
  // SMOOTH SCROLLING
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });

  // MOBILE MENU
  const checkbox = document.getElementById("menuCheckbox");
  const container = document.getElementById("menuContainer");
  const closer = document.getElementById("closer");

  checkbox.addEventListener("change", function () {
    if (this.checked) {
      container.classList.add("opened");
    } else {
      container.classList.remove("opened");
    }
  });
  closer.addEventListener("click", function () {
    checkbox.checked = false;
    checkbox.dispatchEvent(new Event("change"));
  });
</script>

<style>
  @media (max-width: 767px) {
    nav {
      margin-right: -100vw;
      transition-property: margin-right;
    }
    nav.opened {
      margin-right: 0;
    }
  }

  label {
    position: absolute;
    cursor: pointer;
  }

  label div {
    position: relative;
    top: 0;
    background-color: #fff;
    transition: all 0.3s ease;
    border-radius: 2px;
    width: 1.5rem;
    background-color: #fff;
    height: 1px;
    margin-bottom: 0.5rem;
  }

  label div:first-child {
    transform-origin: 0;
  }

  label div:last-child {
    margin-bottom: 0;
    transform-origin: left;
  }

  label div:nth-child(2) {
    width: 1rem;
    right: 0;
    left: 0.5rem;
  }

  input:checked + label div:first-child {
    /* transform: translateX(5px) translateY(-0.5px) rotateZ(45deg); */
    transform: translateY(0.5px) rotateZ(45deg);
  }

  input:checked + label div:last-child {
    /* transform: translateX(5px) translateY(0.5px) rotateZ(-45deg); */
    transform: translateY(-0.5px) rotateZ(-45deg);
  }

  input:checked + label div:nth-child(2) {
    opacity: 0;
    transform: translateX(50%) scaleX(0);
  }
</style>
